.app {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

.app > div {
  margin-right: 50px;
}

.todolist {
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}
